#login-bg {
    background: url('../../image/bg5.jpg') center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
