.form-label {
    flex:2;
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
}
.detail-contents{
    display:flex;
    justify-content: space-around;
  }
  .detail-img{
    width:60%;
    height: 60%;
  }
  .detail-text{
   margin-top:1rem;
  }
  @media screen and (max-width: 600px) {
  .largeScreen-header{
     display: none;
    }
  }
  @media screen and (min-width: 600px) {
    .smallScreen-header{
       display: none;
      }
    }
    // react paginate components
    #react-paginate ul {
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;
  }
  
  #react-paginate li {
      display: inline-block;
  }
  
  #react-paginate .break a {
      cursor: default;
  }
