.form-label {
    flex:2;
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
}
.detail-contents{
    display:flex;
    justify-content: space-around;
  }
  .detail-img{
    width:60%;
    height: 60%;
  }
  .detail-text{
   margin-top:1rem;
  }