.carousel-header{
    background: url('../../image/carousel-1.jpg') center center fixed;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    width: 100%;
    height: 70vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top:-30px;
    .caption{
      position: relative;
      top: 30vh;
      z-index: 10;
      color:white;
      text-align: center;
      font-size: 25px;
    }
  }
  .header-overlay {
    background-color: #000;
    height: 70vh;
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }